<?xml version="1.0" encoding="UTF-8"?>

<users>
  <user>
    <userName>{{ admin.username }}</userName>
    <pass>{{ admin.passhash }}</pass>
    <role>ADMIN</role>
    <email>{{ admin.email }}</email>
  </user>
</users>
